<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include 'djangoapp/navbar.html' %}
    <div class="container-fluid">
        <div class="jubotron">
            <h1 class="display-3"> 
                Welcome to Best Cars dealership!
            </h1>
            <p class="lead">
                Home to the best cars in North America where we sell domestic and imported cars at reasonable prices.
            </p>
        </div>
    </div>
</body>
